body{

    background-image: url(img/background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.container {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {

    width: 30rem;
}

.question-footer {

    display: flex;
    justify-content: space-between;
}

.container-fluid img{

    height: 70px;
    width: 180px;
    color: lightgray;
}

.navbar-brand mb-0 h1{

    color: white;
}

.card-body{

    background-color: rgb(44, 44, 44);
    color: rgb(236, 33, 192);
    
}

.result {

    text-align: center;
}

.card-body{

    font-size: 20px;
    text-align: center;
    
}

.card-body span{

    color:white
}

.card-body h5{
    text-align: center;
    color: rgb(255, 255, 255);

}

.quiz-answer-card :hover {

    cursor: pointer;
    background-color: #0dcaf0;

}

.navbar-brand p{

    color: white;
    font-size: 35px;
}

.card-body p{

    font-size: 20px;
    text-align: center;
}

.width-100{

    width: 100%;
}

.button-newgame{

    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

.question-footer button{

    background-color: #0dcaf0 !important;
}

.progress-bar {

    background-color: #0dcaf0 !important;
}

.bg-success {

    background: lightgreen !important;
}

.question-footer {

    padding-top: 20px;
}

.btn btn-success{

    background-color: lime !important;
}

@media (max-width: 1000px) {

    body {

        width: 100%;
    }

    .quiz-answer-card {

        width: 100%;
    }

    .navbar-brand p{

        color: white;
        font-size: 35px;
    }
    

}

