body{

    background-image: url(img/background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.container {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {

    background-color:rgb(70, 70, 70) !important;
    
}

.question-footer {

    display: flex;
    justify-content: space-between;
}

.container-fluid img{

    height: 70px;
    width: 180px;
    color: lightgray;
}

.navbar-brand mb-0 h1{

    color: white;
}

.card-body{

    color: white;
    border: 1px solid;
    border-radius: 5px;
    
}

.result {

    text-align: center;
}

.card-body{

    font-size: 20px;
    text-align: center;
    
}

.card-body span{

    color:rgb(247, 8, 255);
}

.card-body h5{
    text-align: center;
    color: rgb(247, 8, 255);

}

.quiz-answer-card :hover {

    cursor: pointer;
    

}

.navbar-brand p{

    color: white;
    font-size: 35px;
}

.card-body p{

    font-size: 20px;
    text-align: center;
    color: rgb(247, 8, 255);
}

.result{

    color: rgb(247, 8, 255);


}

.width-100{

    width: 100%;
}

.button-newgame{

    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

.question-footer button{

    background-color: #0dcaf0 !important;
}

.progress-bar {

    background-color: #0dcaf0 !important;
}

.bg-success {

    background-color: #0dcaf0!important;
}

.bg-danger{

    background-color: rgb(247, 8, 255) !important;
}

.question-footer {

    padding-top: 20px;
}

.button-newgame button{

    background-color: #0dcaf0!important;

}


@media (max-width: 1000px) {

    body {

        width: 100%;
    }

    .quiz-answer-card {

        width: 100%;
    }

    .navbar-brand p{

        color: white;
        font-size: 35px;
    }
    

}

